<div class="top-menu">
    <div class="row d-flex justify-content-center">
        <h1>Architecture Decision Record Browser</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="form-inline">
                <form [formGroup]="selectionForm">
                    <select class="form-control" 
                            formControlName="adrSelection"
                            (change)="onChange()"
                            [compareWith]="compareFn">
                        <option [ngValue]="all"
                                routerLink="/">[Software System] Summary</option>
                        <option *ngFor="let adr of adrs" 
                                [ngValue]="adr">
                            &nbsp;&nbsp;&nbsp;&nbsp;{{adr.title}}
                        </option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>