<div class="content" *ngIf="adr; else spinner">
    <div class="row d-flex justify-content-center">
        <h1 style="text-align: center;">{{adr.title}}</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <p>{{adr.creationDate | date: 'EEEE, MMMM d y'}}</p>
    </div>
    <div class="row d-flex justify-content-center status-indicators">
        <app-status-tile *ngFor="let status of statuses" 
                         [status]="status.value" 
                         [active]="status.active">
        </app-status-tile>
    </div>
    <div class="row">
        <markdown [data]="adr.content"></markdown>
    </div>
</div>
<ng-template #spinner>
    <div class="row d-flex flex-column justify-content-center align-items-center">
        <div class="spinner-border" role="status" style="width: 10rem; height: 10rem; margin-top: 15rem; color: #5bc0de;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>